{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="projects">
    <div class="container">
        <div class="project">
            <a href="http://">
                <h2>Továrna na krásno</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
            <a href="http://">
                <h2>Hájenka</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
            <a href="http://">
                <h2>Károvsko</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
            <a href="http://">
                <h2>Vítězné náměstí</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
            <a href="http://">
                <h2>Zelená cesta</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
            <a href="http://">
                <h2>Evropská</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
            <a href="http://">
                <h2>Byt Pardubice</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
            <a href="http://">
                <h2>TGM</h2>
                <img src="{{ asset('imgs/a1.webp') }}" alt="">
            </a>
        </div>
    </div>
</section>
{% endblock %}