{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="projects">
	<div class="container">
		<div class="project">
			<a href="/projekty/tovarna-na-krasno">
				<h2>Továrna na krásno</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/tovarna-na-krasno/tovarna_na_krasno_uvodni.webp') }}"
						loading="lazy" alt="">
				</figure>
			</a>
			<a href="/projekty/hajenka">
				<h2 id="test1">Hájenka</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/hajenka/hajenka_uvodni.webp') }}" loading="lazy" alt="">
				</figure>
			</a>
			<a href="/projekty/byt-bubenec">
				<h2 id="test2">Byt v Bubenči</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/byt-bubenec/byt_bubenec_uvodni.webp') }}" loading="lazy" alt="">
				</figure>
			</a>
			<a href="/projekty/byt-evropska">
				<h2>Byt Evropská</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_uvodni.webp') }}" loading="lazy" alt="">
				</figure>
			</a>
			<a href="/projekty/rd-karovsko">
				<h2>RD Károvsko</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/rd-karovsko/rd_karovsko_uvodni.webp') }}" loading="lazy" alt="">
				</figure>
			</a>
			<a href="/projekty/byt-domazlice">
				<h2>Interiér Domažlice</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/byt-domazlice/byt_domazlice_uvodni.webp') }}" loading="lazy"
						alt="">
				</figure>
			</a>
			<a href="/projekty/byt-pardubice">
				<h2>Byt Pardubice</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_uvodni.webp') }}" loading="lazy"
						alt="">
				</figure>
			</a>
			<a href="/projekty/rd-sedmihorky">
				<h2>RD Sedmihorky</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/zelena-cesta/zelena_cesta_uvodni.webp') }}" loading="lazy" alt="">
				</figure>
			</a>
			<a href="/projekty/socha-tgm">
				<h2>Socha TGM</h2>
				<figure>
					<img src="{{ asset('imgs/projekty/tgm/tgm_uvodni.webp') }}" loading="lazy" alt="">
				</figure>
			</a>
		</div>
	</div>
</section>
{% endblock %}