{% extends 'index.twig' %}
{% block head %}

{% endblock %}

{% block content %}
    <section class="project-detail">
        <div class="container">
            <h2>
                Budova bývalého Forda
            </h2>
            <span class="span__caption">
                /&nbsp;KOMPLETNÍ REKONSTRUKCE / 2023 /&nbsp;DOKONČENÁ
                REALIZACE&nbsp;/
            </span>

            <article>
                Budova v Turnově známá svého času jako automobilový salón Ford
                se dočkala kompletní rekonstrukce. Podlahová plocha objektu se
                téměř zdvojnásobila pomocí nově vytvořených stropních konstrukcí
                a tím se zaručila polyfunkčnost budovy. Umístění sociálního
                zázemí a šaten ve středu objektu zajišťují samostatný chod
                několika oddělení najednou, které mohou být potenciálně
                využívány několika na sobě nezávislými nájemci. Budova dodržuje
                objem a čisté linie původní stavby, nové okenní otvory dodržují
                původní členění a velikost. Interiérové prvky jsou jednoduché, k
                ozvláštnění dochází díky jejich pozicím a tvarům. V dílně jsou
                průmyslová stropní světla umístěna do křížů, sociální zázemí
                hraje kombinací čtvercových obkladů s oblými tvary zařizovacích
                předmětů, zábradlí jsou zaoblená s ocelovými výplety a průhledy
                do místností jsou zajištěny kruhovými okny ve zdech a kajutovými
                okénky ve dveřích.
            </article>

            <div class="project-photos desktop-row">
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_01.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_02.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_03.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_04.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_05.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_06.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_07.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_08.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_09.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_10.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_11.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_12.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_13.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_14.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_15.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure class="short">
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_16.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure class="short">
                    <img src="{{
                        asset(
                            'imgs/projekty/budova-byvaleho-forda/budova_byvaleho_forda_17.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
            </div>
        </div>
    </section>
{% endblock %}
