{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="project-detail">
	<div class="container">
		<h2>Byt Evropská</h2>
		<span class="span__caption">/ STUDIE INTERIÉRU / 2022 / PROBÍHAJÍCÍ REALIZACE /</span>

		<article>
			3+kk o rozloze 43m&sup2 prošlo kompletní rekonstrukcí. V bytě byla zachována původní dispozice, která vyhovovala potřebám investora. 
			Vzhledem k malým rozlohám místností bylo nutné se zaměřit na efektivní řešení úložných prostor a maximální využitelnost každého koutu. 
			Hlavním  požadavkem bylo vytvoření niky pod televizí a “ostrůvku” v kuchyni, který se minimalizoval do pultíku pro jednu osobu. 
			Celý interiér propojuje pistaciová zelená, betonová stěrka v kontrastu s černými detaily a namíru zpracovanými zámečnickými prvky.
		</article>

		<div class="project-photos">
			<figure>
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_uvodni.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_02.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_03.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_02.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_04.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_05.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_06.webp') }}" loading="lazy" alt="">
			</figure>
			<figure class="short">
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_07.webp') }}" loading="lazy" alt="">
			</figure>
			<figure class="short">
				<img src="{{ asset('imgs/projekty/byt-evropska/byt_evropska_08.webp') }}" loading="lazy" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock %}