{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="project-detail">
	<div class="container">
		<h2>Byt Pardubice</h2>
		<span class="span__caption">/ NÁVRH INTERIÉRU / 2021 /</span>

		<article>
Návrh interiéru pro starší pár, kde byly hlavním požadavkem světlé barvy, dubový dekor, úložné prostory pro hračky vnoučat a velký jídelní stůl pro početné rodinné návštěvy. Dominantnějším prvkem v jinak jednoduchém interiéru je pročleněná televizní stěna a jídelní stěna s dřevěnými lamelami. Úložné prostory pro hračky jsou vytvořené kolem nosné zdi uprostřed dispozice, které slouží mimo jiné jako knihovna, nebo odkládací nika.
		</article>

		<div class="project-photos">
			<figure>
				<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_uvodni.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_02.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_03.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_04.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_05.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_06.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-pardubice/byt_pardubice_07.webp') }}" loading="lazy" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock %}