{% extends 'index.twig' %}
{% block head %}

{% endblock %}

{% block content %}
    <section class="project-detail">
        <div class="container">
            <h2>
                Byt Veleslavín
            </h2>
            <span class="span__caption">
                /&nbsp;STUDIE INTERIÉRU / 2023 /&nbsp;PROBÍHAJÍCÍ
                REALIZACE&nbsp;/
            </span>

            <article>
                Světlý byt s terasou a výhledem do zeleně. Původní dispozice
                nenabízela možnost oddělené pracovny a tak se začalo pracovat na
                ideální variantě, do které jsme umístili pracovní kout oddělený
                od ložnice pomocí luxferové stěny. Posuvné dveře mezi chodbou a
                pracovnou vytváří soukromí jak pro práci, tak pro večerní režim
                rodičů. Do jednoho kabátu světle šedivé barvy jsme oblékli
                kuchyni, spíž, šatnu a stěnu koupelny s WC. Dýha, masiv a
                původní dřevěné parkety prostupují celým bytem. Akcentem v
                prostoru se stává modrý ostrůvek uprostřed obývací dispozice.
                Keramická dlažba s větším abstraktním vzorem pak spojuje odstíny
                dřeva a modré truhlářské akcenty v bytě.
            </article>

            <div class="project-photos">
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/byt-veleslavin/byt_veleslavin_uvodni.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/byt-veleslavin/byt_veleslavin_02.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/byt-veleslavin/byt_veleslavin_03.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/byt-veleslavin/byt_veleslavin_04.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/byt-veleslavin/byt_veleslavin_05.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/byt-veleslavin/byt_veleslavin_06.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
            </div>
        </div>
    </section>
{% endblock %}
