{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="project-detail">
	<div class="container">
		<h2>Interiér Domažlice</h2>
		<span class="span__caption">/ NÁVRH INTERIÉRU / 2023 /</span>

		<article>
			Nepopsaný list papíru je rodinný dům v Domažlicích, který ještě čeká na své stavební povolení. Dům je navržený v moderním minimalistickém stylu s plochou střechou a požadavky investorů se příliš neliší ani v interiéru. Neutrální barvy jako je béžová, šedá, bílá a černá se snaží vyvážit geometrické vzory na obkladech a dekory na textiliích. 
		</article>

		<div class="project-photos">
			<figure>
				<img src="{{ asset('imgs/projekty/byt-domazlice/byt_domazlice_uvodni.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-domazlice/byt_domazlice_02.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-domazlice/byt_domazlice_03.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-domazlice/byt_domazlice_04.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-domazlice/byt_domazlice_05.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/byt-domazlice/byt_domazlice_06.webp') }}" loading="lazy" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock %}