{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="project-detail">
	<div class="container">
		<h2>Hájenka</h2>
		<span class="span__caption">/ ARCHITEKTONICKÁ STUDIE / STUDIE INTERIÉRU / REKONSTRUKCE / 2022-23 /</span>

		<article>
			Stávající objekt Hájenky leží uprostřed lesa v Jizerských horách
			nedaleko Zásady. Fasáda objektu byla odlehčena od okenic, od
			dřevěného opláštění, které obalovalo celé zápraží a soklu byla
			navrácena původní podoba ve formě kamene. Požadavkem investora byla větší míra provázání s přírodou, které
			jsme dosáhli zpřístupněním zadního dvorku přímo ze světnice, prosvětlením
			krovu střešními okny a odkrytím zápraží vzniklo kryté sezení s
			výhledem do přilehlého lesa. Majitelé plánují využívat pro svou
			rodinu především přízemí, druhé patro bude sloužit pro návštěvy
			s jejich ratolestmi.
			<br>
			Interiér je navržený s ohledem na charakter stavby. Světlé tóny
			zelené jsou zkombinované s pomněnkovou modrou. Počítá se v
			interiéru s původními skříněmi a křesílky v hostovských pokojích,
			které projdou repasem.
		</article>

		<div class="project-photos">
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_uvodni.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_01.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_03.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_02.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_04.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_05.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_06.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_07.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/hajenka/hajenka_08.webp') }}" loading="lazy" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock %}