{% extends 'index.twig' %}
{% block head %}

{% endblock %}

{% block content %}
    <section class="project-detail">
        <div class="container">
            <h2>
                Hilmarovo náměstí
            </h2>
            <span class="span__caption">
                /&nbsp;STUDIE VEŘEJNÉHO PROSTORU / 2023 /&nbsp;PROBÍHAJÍCÍ
                PROJEKCE&nbsp;/
            </span>

            <article>
                Cílem revitalizace je posílit přirozené funkce náměstí a
                vytvořit z něj místo, které bude lákat k odpočinku a k
                setkávání. Studie si klade za cíl navrhnout kvalitní veřejné 
                prostranství pro příjemný pobyt obyvatel pomocí odpočinkových míst, 
                pítka, širokých pěších komunikací a předzahrádek. Návrh zachovává historickou rovinu náměstí v
                podobě navrácení původních prvků na svá místa jako jsou sochy,
                stromořadí lip, kašna, historické mozaiky a obrys původní
                radnice. Zohledňuje dopravní potřeby a parkovací kapacity.
                Poskytuje možnost reprezentace místní zahradnické školy díky
                vyhrazenému záhonu.
                <br />
                <br />
                Vytváříme v návrhu nová propojení mezi náměstím a zámeckým rybníkem
                pomocí nové uličky s kavárnou. Doplňujeme stromy, chybějící
                nízkou zeleň, navrhujeme rozmanité kvetoucí záhony pod stromy a důstojné
                pozadí pro sousoší. Volíme v návrhu propustné materiály jako je mlat,
                maloformátová a zatravňovací dlažba. Zvláštní pozornost věnujeme severnímu náměstí, které disponuje dostatkem
                prostoru pro shromáždění obyvatel. Tuto část náměstí je možné využívat
                v režimu pouze pro pěší díky výsuvným sloupkům umístěných v místě
                sjezdu z hlavní komunikace. V této části náměstí je možné pořádat
                veřejné události o různých velikostech. Ne všechny události musí
                plně omezovat automobilovou dopravu, a tak některé režimy zachovávají
                průjezdnost ulice a možnost parkování.
                <br /> 
                <br /> 
                Spoluautor: Ing. arch. Lucie Braunová (Pecka ateliér s.r.o.)
            </article>

            <div class="project-photos">
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/hilmarovo-namesti/hilmarovo_namesti_uvodni.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/hilmarovo-namesti/hilmarovo_namesti_02.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/hilmarovo-namesti/hilmarovo_namesti_03.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/hilmarovo-namesti/hilmarovo_namesti_04.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/hilmarovo-namesti/hilmarovo_namesti_05.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure class="short">
                    <img src="{{
                        asset(
                            'imgs/projekty/hilmarovo-namesti/hilmarovo_namesti_06.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure class="short">
                    <img src="{{
                        asset(
                            'imgs/projekty/hilmarovo-namesti/hilmarovo_namesti_07.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
            </div>
        </div>
    </section>
{% endblock %}
