{% extends 'index.twig' %}
{% block head %}

{% endblock %}

{% block content %}
    <section class="project-detail">
        <div class="container">
            <h2>
                RD Zelená cesta
            </h2>
            <span class="span__caption">
                /&nbsp;ARCHITEKTONICKÁ STUDIE / 2023 /&nbsp;PROBÍHAJÍCÍ
                REALIZACE&nbsp;/
            </span>

            <article>
                Rodinný dům na typickém obdélném půdorysu nabízí netypické
                výhledy na západ díky zapuštěné terase v přízemí a otevřené
                terase ve druhém patře. Dům zajišťuje velkou míru soukromí pro
                rodiče, kteří obývají celé druhé podlaží, ve kterém je umístěna ložnice s koupelnou a šatnou, pracovna s výhledem do zahrady, polyfunkční
                herní a technická místnost. Dřevěný obklad přecházející z fasády
                domu na sklad sjednocuje pohled z ulice. Čtvercová okna, světlá
                fasáda a skrytý žlab dodává domu minimalistický vzhled.
            </article>

            <div class="project-photos">
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_uvodni.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_02.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_03.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_04.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_05.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_06.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_07.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure class="short">
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_08.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure class="short">
                    <img src="{{
                        asset(
                            'imgs/projekty/rd-zelena-cesta/rd_zelena_cesta_09.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
            </div>
        </div>
    </section>
{% endblock %}
