{% extends 'index.twig' %}
{% block head %}

{% endblock %}

{% block content %}
    <section class="project-detail">
        <div class="container">
            <h2>
                Revitalizace sídliště v Kopidlně
            </h2>
            <span class="span__caption">
                /&nbsp;STUDIE VEŘEJNÉHO PROSTORU / 2023&nbsp;/
            </span>

            <article>
                Důležitou součástí návrhu revitalizace sídliště U Cihleny bylo
                veřejné projednání s občany a obyvateli sídliště. Na
                participačním setkání jsme společnými silami hledali slabiny,
                hodnoty a potenciály místa. Cílem bylo seznámit veřejnost se
                zamýšleným záměrem revitalizace sídliště, zjistit jejich zpětnou
                vazbu a následně vytvořit samotné zadání pro tvorbu návrhu.
                Hlavními tématy jsou: nevyhovující automobilová doprava,
                nedostatečné parkovací plochy, dožité pěší komunikace, chybějící
                aktivity a neudržovaná zeleň.
                <br />
                Návrh dává sídlišti nový řád. Díky místům s různými charaktery je
                území přehlednější a lépe čitelnější. Studie se snaží ukázat, jak
                lze území oživit a jaké prvky by bylo vhodné použít. Pracujeme s
                širokou škálou povrchů, zeleně a se členěním ploch tak, aby byl prostor
                přizpůsoben měřítku člověka a tím se stal pro obyvatelstvo příjemným místem k životu.
                <br />
                Spoluautor: Ing. arch. Lucie Braunová (Pecka ateliér s.r.o.)
            </article>

            <div class="project-photos">
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_uvodni.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_02.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_03.webp'
                        )
                        }}"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_04.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_05.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_06.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_07.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_08.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
                <figure>
                    <img src="{{
                        asset(
                            'imgs/projekty/revitalizace-sidliste-v-kopidlne/revitalizace_sidliste_v_kopidlne_09.webp'
                        )
                        }}"
                        loading="lazy"
                        alt="" />
                </figure>
            </div>
        </div>
    </section>
{% endblock %}
